<font face="微软雅黑" color=green size=5>Mysql基础</font>

# 语法

select 查询列表  
from 表1
连接类型 join 表2  
on 连接条件  
where 筛选条件  
group by 分组字段  
having 分组后的筛选  
order by 排序的字段   
limit 起始索引, 要显示的条目个数;

# 安装

安装MySQLdb或PyMySQL模块
`pip install PyMySQL`

# 调用

## 直接调用

In [2]:
import pymysql.cursors
 
# 配置连接参数
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='162532',
                             database='sys',
                             cursorclass=pymysql.cursors.DictCursor)
try:
    with connection.cursor() as cursor:
        # 执行查询
        sql = "SELECT * FROM energy limit 5"
        cursor.execute(sql)
        result = cursor.fetchall()
        for row in result:
            print(row)
finally:
    connection.close()

{'time': '2012-01-01 00:00:00', 'load': 2698.0, 'temp': 32.0}
{'time': '2012-01-01 01:00:00', 'load': 2558.0, 'temp': 32.67}
{'time': '2012-01-01 02:00:00', 'load': 2444.0, 'temp': 30.0}
{'time': '2012-01-01 03:00:00', 'load': 2402.0, 'temp': 31.0}
{'time': '2012-01-01 04:00:00', 'load': 2403.0, 'temp': 32.0}

## pandas调用

In [3]:
from sqlalchemy import create_engine
import pandas as pd

# 创建数据库连接对象
user = 'root'  # 数据库用户名
password = '162532'  # 数据库密码
host = 'localhost'  # 数据库ip地址
port = 3306  # 端口号
database = 'sys'  # 数据库名称

# 连接数据库
engine = create_engine(
    f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}', echo=True)

# sql语句
sql = "SELECT * FROM energy"

# 通过pandas读取数据
data = pd.read_sql(sql, engine)

2025-05-06 16:43:21,721 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-05-06 16:43:21,721 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-06 16:43:21,722 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-05-06 16:43:21,722 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-06 16:43:21,723 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-05-06 16:43:21,723 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-06 16:43:21,724 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2025-05-06 16:43:21,725 INFO sqlalchemy.engine.Engine [generated in 0.00037s] {'table_schema': 'sys', 'table_name': 'SELECT * FROM energy'}
2025-05-06 16:43:21,726 INFO sqlalchemy.engine.Engine SELECT * FROM energy
2025-05-06 16:43:21,726 INFO sqlalchemy.engine.Engine [raw sql] {}

In [4]:
data

                      time    load   temp
0      2012-01-01 00:00:00  2698.0  32.00
1      2012-01-01 01:00:00  2558.0  32.67
2      2012-01-01 02:00:00  2444.0  30.00
3      2012-01-01 03:00:00  2402.0  31.00
4      2012-01-01 04:00:00  2403.0  32.00
...                    ...     ...    ...
26299  2014-12-31 19:00:00  4012.0  18.00
26300  2014-12-31 20:00:00  3856.0  16.67
26301  2014-12-31 21:00:00  3671.0  17.00
26302  2014-12-31 22:00:00  3499.0  15.33
26303  2014-12-31 23:00:00  3345.0  15.33

[26304 rows x 3 columns]